<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">
<th:block layout:fragment="content">
    <div class="box">로그인 페이지</div>
    <div class="box2">
        <div class="box-title">Login</div>
        <div class="box2-inbox">
            <div class="login-wrapper">
                <form method="post" th:action="@{/project/login}" id="login-form">
                    <input type="text" name="nickname" placeholder="nickname"/>
                    <input type="password" id="pw" name="pw" placeholder="password" />
                    <label>
                        <input type="checkbox" id="remember-check"/>
                        닉네임 정보 저장하기
                    </label>
                    <input type="submit" value="Login"/>
                </form>
            </div><!-- login-wrapper -->
        </div><!-- box2_inbox -->
    </div><!-- box2 -->
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/

   function login() {
/*     var nickname = document.querySelector('input[name="nickname"]').value.trim();
    var password = document.querySelector('input[name="pw"]').value.trim();

    // 서버로 로그인 요청을 보내는 AJAX 호출
    axios.post("/project/login", {
        nickname: nickname,
        pw: password
    })
    .then(function (response) {
        var data = response.data;
        if (data.loginSuccess) {
            // 로그인 성공 시 메인 페이지로 리디렉션
            window.location.href = "/project/메인.do"; // 리디렉션할 페이지 URL을 지정
        } else {
            // 로그인 실패 시 alert 창 표시
            alert("로그인에 실패했습니다. 다시 시도하세요.");
        }
    })
    .catch(function (error) {
        alert("서버 오류: " + error);
    }); */
      }
      /*]]>*/
    </script>
</th:block>
</html>