<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.GuestBookMapper">
  
	<sql id="guestbookColumns">
		  no
		, name
		, password
		, content
		, reg_date
		
	</sql>

	<insert id="insertGuestBook" parameterType="GuestBookDTO">
		INSERT INTO GuestBook (
			<include refid="guestbookColumns" />
		) VALUES (
			  seq_guestbook_no.nextval
			, #{name}
			, #{password}
			, #{content}
			, SYSDATE
		)
	</insert>

	 <select id="selectGuestBookDetail" parameterType="long" resultType="GuestBookDTO">
		SELECT
			<include refid="guestbookColumns" />
		FROM
			GuestBook
		WHERE
			1=1
		AND
			no = #{no}
	</select> 

	<update id="updateGuestBook" parameterType="GuestBookDTO">
		UPDATE GuestBook
		SET
			  reg_date = SYSDATE
			, name = #{name}
			, content = #{content}
		WHERE
			no = #{no}
	</update> 
	
	<delete id="deleteGuestBook" parameterType="long">
		DELETE 
		FROM GuestBook
		WHERE
		no = #{no}
	</delete>
	
  <!-- Oracle Paging -->
   <select id="selectGuestBookList" parameterType="GuestBookDTO" resultType="GuestBookDTO">
     <include refid="CommonMapper.pagingHeader"/>
       SELECT 
       <include refid="guestbookColumns" />
        FROM GuestBook
        <include refid="CommonMapper.search_o" />
        ORDER BY no DESC, reg_date DESC
     <include refid="CommonMapper.pagingFooter"/>
   </select>
   
  
  <select id="selectGuestBookTotalCount" parameterType="GuestBookDTO" resultType="int">
    SELECT
      COUNT(*)
    FROM
      GuestBook
    <include refid="CommonMapper.search_o" />
  </select>
  
  <!-- Mysql Paging -->
  <select id="selectGuestBookList3" parameterType="GuestBookDTO" resultType="GuestBookDTO">
    SELECT
      <include refid="guestbookColumns" />
    FROM
      tb_guestbook
    WHERE
      delete_yn = 'N'
    <include refid="CommonMapper.search_m" />
    ORDER BY
      notice_yn ASC,
      no DESC,
      insert_time DESC
    <include refid="CommonMapper.paging" />
  </select>

<!-- 	<select id="selectGuestBookTotalCount" parameterType="GuestbookDTO" resultType="int">
    SELECT
      COUNT(*)
    FROM
      GuestBook
    WHERE
      1 = 1
    
  </select> -->
	

</mapper>