<!-- <!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div id="header">
	<div class="main">Web.</div>
	
	<div th:if="${loggedInUser} == null">
        <button onclick="join()">Sign up</button>
		<button onclick="login()" class="btn">Login</button>
    </div>
    <div th:unless="${loggedInUser}== null">
        <button onclick="logout()">Logout</button>
        
    </div>
	
</div>
<div id="navigation">
	로그인된 경우 관리자권한 확인
	<div th:if="${loggedInUser} == null">
		<ul>
			<li><a th:href="|@{/project/main}|">홈</a></li>
		</ul>
		</div>
	<div th:unless="${loggedInUser} == null">
		<div th:if="${loggedInUser}">
		
	      <ul>
	        <li><a th:href="|@{/project/main}|">홈</a></li>
			<li><a th:href="|@{/project/myInfo}|">내정보</a></li>
			<li><a th:href="|@{/project/board}|">게시판</a></li>
			<li><a th:href="|@{/project/ES}|">근태관리</a></li>
			<li><a th:href="|@{/project/HRM}|">인사관리</a></li>
			</ul>	
			</div>
		<div th:unless="${loggedInUser}==! null">
		  <ul>
			<li><a th:href="|@{/project/main}|">홈</a></li>
			<li><a th:href="|@{/project/myInfo}|">내정보</a></li>
			<li><a th:href="|@{/project/board}|">게시판</a></li>
			<li><a th:href="|@{/project/work}|">근무현황조회</a></li>
		 	</ul>
			</div>
	</div>
</div>
		

	<th:block layout:fragment="content">
		<div class="box"></div>
		<div class="box2"></div>
	</th:block>
	
	<div class="footer">
	footer...
	</div>

	<script th:src="@{/script/main.js}"></script>
	<th:block layout:fragment="script"></th:block>
</body> -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
<div id="header">
	<div id="main" onclick="toggleDisable()">
	_    Menu
	<div class="box"></div>
	</div>
	<div id="info">
		<div th:if="${session.loggedInUser} == null">
		</div>
		<div th:unless="${session.loggedInUser} == null">
			<div th:text="${session.loggedInUser.nickname}+' '+님"></div>
		</div>
	</div>	
	<div th:if="${session.loggedInUser} == null">
        <button onclick="signUp()">Sign up</button>
		<button onclick="login()" class="btn">Login</button>
    </div>
    <div th:unless="${session.loggedInUser} == null">
        <button onclick="logout()">Logout</button>
    </div>
</div>
<div id="container">
 <div class="rule-toggle disable">
  <div id="navigation">
	<!-- 로그인된 경우 관리자권한 확인 -->
	<div th:if="${session.loggedInUser} == null">
		<ul>
			<li><a th:href="|@{/project/main}|">홈</a></li>
		</ul>
	</div>
	
	 <div th:unless="${session.loggedInUser} == null">
		<div th:if="${session.loggedInUser.nickname} == 관리자">
	      <ul>
	        <li><a th:href="|@{/project/main}|">홈</a></li>
			<li><a th:href="|@{/myInfo}|">내정보</a></li>
			<li><a th:href="|@{/board}|">게시판</a></li>
			<li><a th:href="|@{/ES}|">근태관리</a></li>
			<li><a th:href="|@{/HRM}|">인사관리</a></li>
			</ul>	
		</div>
		<div th:unless="${session.loggedInUser.nickname} == 관리자">
		  <ul>
			<li><a th:href="|@{/project/main}|">홈</a></li>
			<li><a th:href="|@{/myInfo}|">내정보</a></li>
			<li><a th:href="|@{/board}|">게시판</a></li>
			<li><a th:href="|@{/ES}|">근무현황조회</a></li>
		 	</ul>
		</div>
	  </div>
  </div>
 </div>
	
	<th:block layout:fragment="content">
		<div class="box2"></div>
	</th:block>
	<th:block layout:fragment="paging"></th:block>
</div>
	<footer id="footer">
	&nbsp;&nbsp;footer...
	</footer>
	
	<script th:src="@{/script/main.js}"></script>
	<th:block layout:fragment="script"></th:block>
</body>

반응

댓글








