<!-- <!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">

<th:block layout:fragment="content">
		<div th:if="${loggedInUser != null}">
        <div class="box">Welcome </div>
        <div class="box2"> <span th:text="${loggedInUser.nickname}"></span>님 환영합니다.</div></div>
	<div th:unless="${loggedInUser}"> 	
	   <div class="box">홈</div>
		<div class="box2">로그인이 필요합니다</div>
	</div>
	
</th:block>
<th:block layout:fragment="login">
</th:block>
</html> -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">
<th:block layout:fragment="content">
	<div class="box2">
	
		<div th:if="${session.loggedInUser} == null">
		 로그인이 필요합니다
		</div>
		
		<div th:unless="${session.loggedInUser} == null">
		 <h2 th:text="${session.loggedInUser.nickname}+' '+님+' '+로그인+' '+되었습니다"></h2>
		메인페이지 입니다
		</div>
		
	</div>
</th:block>